{{> post-info post}}

{{post.created_at}}

<div class="">
  <canvas id="myChart" width="400" height="200"></canvas>
</div>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}

<script>

  

  var stockData = {{{post.stock.data}}}

  var highData = stockData.map(({h}) => h);
  var lowData = stockData.map(({l}) => l);
  var midData = stockData.map(({vw}) => vw);
  //console.log(highData);


const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
          '9AM',
          '',
          '10AM', 
          '', 
          '11AM', 
          '', 
          '12PM', 
          '', 
          '1PM', 
          '', 
          '2PM', 
          '', 
          '3PM', 
          '',
          '4PM',
          '',
          '5PM',
          '',
          '6PM',
          '',
          '7PM',
          '',
          '8PM',
          '',
          '9PM',
          '',
          '10PM',
          '',
          '11PM',
          '',
          '12PM',
          ],
        datasets: [{
            color: '#7cfc00',
            label: 'TESLA HIGH STOCK',
            data: highData,
            backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgb(75, 192, 192)'
            ],
            borderWidth: 5,
            tension: 0.1,
            fill: true,

        },
        
        {
          label: 'TESLA LOW STOCK',
          data: lowData,
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
          ],
          borderColor: [
              '#FF6384'
          ],
          borderWidth: 5,
          tension: 0.1,
          fill: true,
        },

        {
          label: 'TESLA VOLUME WEIGHTED AVERAGE STOCK',
          data: midData,
          backgroundColor: [
              'rgba(54, 162, 235, 0.2)',
          ],
          borderColor: [
              '#36A2EB'
          ],
          borderWidth: 5,
          tension: 0.1,
          fill: true,
        }
        
        ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: false
            }
        }
    }
});
</script>