{{> post-info post}}

{{post.created_at}}

<div class="">
  <canvas id="myChart" width="400" height="200"></canvas>
</div>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}

<script>


  console.log({{{post}}});


  async function createGraph() {
    /*const project = await Project.findOne({ 
      where: { created_at: } 


    });*/
    

    var stockData = {{{post.stock.data}}};

    stockData = stockData.reverse();
    
    console.log('hi');
    console.log(stockData);
    console.log('hi');

  


    let highData = stockData.map(({high}) => high);
    let lowData = stockData.map(({low}) => low);
    let timeData = stockData.map(({datetime}) => datetime);
    let time = [];
    
  


    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: timeData,
          datasets: [{
              color: '#7cfc00',
              label: 'TESLA HIGH STOCK',
              data: highData,
              backgroundColor: [
                  'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [
                  'rgb(75, 192, 192)'
              ],
              borderWidth: 5,
              tension: 0.1,
              fill: true,

            },
            
            {
              label: 'TESLA LOW STOCK',
              data: lowData,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                  '#FF6384'
              ],
              borderWidth: 5,
              tension: 0.1,
              fill: true,
            } 
          ]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: false
              }
          }
      }
    });
  };


  createGraph();

</script>